@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #031997;
    --accent: #2c2c2c;
    --neutralLight: #f5f5f5;
    --neutralDark: #2c2c2c;
    --offBlack: rgb(19, 18, 18);
    --grey: #c0c0c0;
    --danger: #dd0a0a;
    --background: #ffffff;
}

html,body{
    overflow-x: hidden;
    background: var(--background);
    font-family: "Montserrat", sans-serif;
    height: max-content;
    width: 100vw;
}

.ham.active{
    height: 0;
    transition: 0.5s ease-in-out;
}

.ham.active::after{
    top: 0;
    transform: rotate(45deg);
    transition: 0.5s ease-in-out;
    background: var(--neutralLight);
}

.ham.active::before{
    top: 0;
    transform: rotate(-45deg);
    transition: 0.5s ease-in-out;
    background: var(--neutralLight);
}

.home-hero{
    position: relative;
    height: calc(100vh + 120px);
    width: 100vw;
}

.mid-hero{
    position: relative;
    width: 100%;
    height: calc(100% - 120px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    z-index: 10;
    padding-top: 100px;
}

.home-hero::after,
.project::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #01072c;
    opacity: 0.2;
}

.hero-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#booking{
    z-index: 999;
}

@media only screen and (max-width: 767px){
    .home-hero{
        height: 100vh;
    }

    .mid-hero{
        height: calc(100% - 120px);
    }
}